@import 'src/sass/_mixins.scss';
@import 'src/sass/_variables.scss';

header {
  @include space-between;
  width: 100%;
}


#page-title-link {
  margin-left: 1em;
  text-decoration: none;
}

#page-title {
  color: $header-font;
  margin: 1.5em 0 1.5em 0;
}

nav {
  @include space-between;
}

.nav-link {
  text-decoration: none;
  margin: 0 1em;
}

.nav-active {
  background-color: $nav-accent;
}

h2 { 
  color: $header-font;
  margin-top: 2em;
}

@media only screen and (max-width: 400px) {
   #page-title {
    color: $header-font;
    font-size: large;
    margin: 1.5em 0 1em 0;
  }

  .nav-link {
    text-decoration: none;
    // margin: 0 1em;
  }

  h2 { 
    font-size: medium;
    margin-top: 1.7em;
  }
}