@import 'src/sass/_mixins.scss';

main {
  @include center-column;
}

image-box {
  display: flex;
}

button {
  padding: 5px;
  margin: 3em 2em 7em 0;
}

button-box {
  display: flex;
  justify-content: space-between;
}