@import '../sass/mixins';

.home-main {
  @include center-column;
}

#home-title {
  text-align: center;
  margin: 1.5em 0 1em 0;
}

.box {
  display: flex;
  flex-direction: row;
}

.aside {
  flex-grow: 1;
}

.center {
  padding: 1em 1.5em 3em 1.5em;
  flex-grow: 3;
  max-width: 30em;
  background: radial-gradient(#000000eb, #00000000);
}

.center-text {
  text-align: center;
}

#explore-cosmos-button {
  margin-bottom: 4em;
  @include button;
}

#explore-cosmos-button:hover {
  @include button-hover;
}