@import '../sass/mixins';

.home-main {
  @include center-column;
  justify-content: space-around;
  flex-grow: 1;
}

.home-content-wrapper {
  @include center-column;
}

#home-title {
  text-align: center;
  margin: 1.5em 0 1em 0;
  font-size: xxx-large;
}

.box {
  display: flex;
  flex-direction: row;
}

.aside {
  flex-grow: 1;
}

.center {
  padding: 1em 1.5em 3em 1.5em;
  flex-grow: 3;
  max-width: 30em;
  background: radial-gradient(#000000eb, #00000000);
}

.center-text {
  text-align: center;
  font-size: large;
}

#explore-cosmos-button {
  margin-bottom: 4em;
  @include button;
}

#explore-cosmos-button:hover {
  @include button-hover;
}

@media only screen and (max-width: 698px) {
  #home-title {
    margin: 1.5em 0 .5em 0;
  }

}

@media only screen and (max-width: 375px) {
  .center {
    padding: 1em 1.5em 1em 1.5em;
  }
}