.home-main {
  // background-image: url('../assets/hubble-stars.jpg') !important;
  // background-size: contain;
  // background-position: top;
  // background: cover;
  // width: 100%;
}

.box {
  display: flex;
  flex-direction: row;
}

.aside {
  flex-grow: 3;
}

.center {
  flex-grow: 1;
  max-width: 20em;
}