@import '../sass/variables';
@import '../sass/mixins';

body {
  height: 100%;
}

main {
  background-color: $background-color;
}

#app-main {
  background-color: $background-color;
  color: $header-font;
  height: 100vh;
}

button:hover {
  cursor: pointer;
}

#blockColorblindContent {
  display: none;
}