@import '../sass/variables';
@import '../sass/mixins';

body {
  height: 100%;
}

main {
  background-color: $background-color;
}

#app-main {
  background-color: $background-color;
  color: $header-font;
  height: 100vh;
}

button:hover {
  cursor: pointer;
}

#blockColorblindContent {
  display: none;
}

#footer {
  border-top: 1px solid #0e0e0e;
  padding: 3em 0;
  background-color: $background-color;
  @include center-column;
}

#footer>p {
  flex-wrap: wrap;
  font-size: small;
}

#logo {
  height: 1.75em;
  margin: .5em;
}